{% extends 'base.html' %}
{% block content %}

    <br>
    <div class="container">
        <h1>글쓰기</h1>
        <hr>
        <br><br>
{#        multypart/form-data를 설정해주어야 문자 이외의 이미지 파일 같은 것들도 묶여서 전송이 됨#}
        <form method="POST" enctype="multipart/form-data">
    {#        장고에서는 POST방식으로 데이터 전달 시 전달 과정에서 보안을 위해 csrf_token을 반드시 사용해야 함#}
            {% csrf_token %}
{#            CKEditor의 폼 적용#}
            {{ form.media}}
    {#        form을 p태그로 변환 (as_Table, as_ul 등 있음)#}
            {{ form.as_p }}
            <input type="submit" class="btn btn-dark" value="저장" />
        </form>
    </div>
{% endblock %}
